<div class="columns is-mobile is-marginless heading has-text-weight-bold has-background-white">
  <div class="column left">
    <figure class="navbar-item image">
      <a href="/"><img src="{{site.logo}}"></a>
    </figure>
  </div>
  <div class="column center desktop">
  <p class="navbar-item has-text-black"><a href="/">ABOUT</a></p>
    <p class="navbar-item has-text-black"><a href="{{ site.menu[0].title | relative_url }}">{{site.menu[0].title}}</a></p>
    <p class="navbar-item has-text-black"><a href="{{ site.menu[1].title | relative_url }}">{{site.menu[1].title}}</a></p>
  </div>
  <div class="column right">
    <p class="navbar-item has-text-black desktop"><a href="{{ site.menu[2].url | relative_url }}">{{site.menu[2].title}}</a></p>
    <p class="navbar-item has-text-black desktop">LOGIN</p>
    <figure class="navbar-item image has-text-black center" data-show="quickview" data-target="quickviewDefault">
      <i class="fas fa-bars" style="width: 1rem; height: 1rem;"></i>
    </figure>
  </div>
</div>