<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>

  <!--  Mobile Navigation  -->
  {% include mobilenav.html %}

  <!--  Navigation  -->
  {% include header.html %}

<section class="hero is-fullheight" style="background: black url(https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f38005f4ef6c02f1e40c1a3af591f5e9&auto=format&fit=crop&w=1353&q=80) center / cover;">

  <!-- .hero-head -->
  <div class="hero-head">

  </div> <!-- /.hero-head -->
  <header class="hero-body">
    <div class="is-overlay has-text-centered single-spaced" style="top: 350px;">
      <!-- 		<h2 class="subtitle is-4 has-text-weight-light has-text-white">Tesla</h2> -->
      <h1 class="title is-1 has-text-darkgrey"> A bit about us, <br> and our clients.</h1>
    </div>
  </header>  <!-- /Hero Body   -->
</section>

<section class="hero section has-background-magenta" id="work">
  <div class="container">
    
  <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child" style="background:url({{site.work[0].head-image}}) center / cover;">
          <a href="{{site.work[0].url}}"><div>
            <p class="has-text-weight-bold is-size-3">{{site.work[0].title}}</p>
            <p class="subtitle">How do you interact with your customers?</p> 
          </div></a>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child" style="background: url({{site.work[0].head-image}}) center / cover;">
          <a href="{{site.work[1].url}}"><div>
            <p class="has-text-weight-bold is-size-3">{{site.work[0].title}}r</p>
            <p class="subtitle">Be The Impact</p>
          </div></a>
        </article>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child" style="background:url(img/work/coffeelab-banner-min.png) center / cover;">
          <a href="single-work.html"><div style="">
            <p class="has-text-weight-bold is-size-3">Coffee Lab</p>
            <p class="subtitle">Naturally Selected</p> 
          </div></a>
        </article>
      </div>
        <div class="tile is-parent">
        <article class="tile is-child" style="background:url(img/work/websites.jpg) center / cover;">
          <a href="single-work.html"><div style="">
            <p class="has-text-weight-bold is-size-3">Web Services</p>
            <p class="subtitle">Is your website responsive?</p> 
          </div></a>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child" style="background: url(img/work/union-hall-banner-min.png) center / cover;">
          <a href="single-work.html"><div>
            <p class="has-text-weight-bold is-size-3">Union Hall</p>
            <p class="subtitle">Breaking Bread Together</p>
          </div></a>
        </article>
      </div>
    </div>

  </div>
</section>

  <!--   Footer   -->
  
  {% include footer.html %}

  <!-- Scripts -->
  {% include scripts.html %}
  
</body>
</html>